<h1>Activity</h1>

<form action="/activities/<%= @activity.id %>/edit" method="get">
  <input type="submit" value="Update activity" />
</form>
<form action="/activities/<%= @activity.id %>/delete" method="post">
  <input type="submit" value="Delete activity" />
</form>

<ul>
  <li>Activity: <%= @activity.activity %></li>
  <li>Instructor: <%= @activity.instructor %></li>
  <li>Day/s: <%= @activity.day %></li>
  <li>Start time: <%= @activity.start_time %></li>
  <li>Capacity: <%= @activity.capacity %>/5</li>
</ul>

<h1>Members:</h1>

<ul>
  <% @activity.members.each do |member| %>
  <li>Name: <%= member.full_name %></li>
  <li>Age: <%= member.age %></li>
  <li>Address: <%= member.address %></li>
  <li>Email: <%= member.email %></li>
  <hr>
  <% end %>
</ul>
